/* Buttonlar uchun chiroyli stillar */
.action-add,
.action-remove,
.action-clear {
    padding: 5px 10px;
    background-color: #45a049;
    color: white;
    border: none;
    border-radius: 4px;
        cursor: pointer;
    margin-left: 5px;
    }

/* Qo'shish tugmasi uchun bo'shliq joyini o'chirish */
.action-add:first-child {
    margin-left: 0;
}

/* Remove tugmasi uchun chiroyli rasmli background va qo'shish tugmasi uchun hover stil */
.action-remove {
    background-color: #ff6347;
}

.action-add:hover,
.action-remove:hover,
.action-clear:hover {
    background-color: #2e7d32;
}